p {
    color: var(--text);
}

h2 {
    color: var(--text);
    font-size: 1.250rem;
    font-weight: bold;
}

span {
    color: var(--post-span);
}

a {
    display: flex;
    gap: 4px;
    color: var(--text);
}
a:hover {
    text-decoration: underline;
    text-underline-offset: 2px;
}