@import "tailwindcss";

@import "../styles/global/variables.css";
@import "../styles/global/elements.css";

span {
    color: var(--color-highlight);
}

p {
    font-size: 1.12rem;
    font-weight: 600;
}

@media (max-width: 640px) {
  p {
    font-size: 0.875rem;
  }
}